.contact {
    display: grid;
    align-content: space-between;

    width: 100%;
    height: fit-content;
    max-width: 100vw;

    position: relative;
}

.contact .web-footer {
    margin-top: 5rem;
}