.navbar {
  background-color: var(--color-secondary);
  color: var(--color-background);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--font-size-sm) var(--font-size-xl);
  position: fixed;
  top: 0;
  z-index: 3;
  --fillColor: var(--color-background);
}

.navbar .site-name {
  width: 100%;
}

.navbar .site-logo {
  border-radius: 100%;
  overflow: hidden;
  aspect-ratio: 1;
  margin-right: 0.5ch;
  padding: calc(var(--font-size-sm) / 3.4);
  background-color: var(--color-background);
}

.navbar .site-logo svg {
  font-size: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
}

.navbar.collapsed {
  padding: min(var(--font-size-sm), 5px) var(--font-size-xl);
}

.navbar.collapsed a,
.navbar.collapsed button,
.navbar.collapsed span {
  font-size: var(--font-size-sm) !important;
}

.navbar.collapsed:hover a,
.navbar.collapsed:hover span {
  font-size: var(--font-size-lg);
}

.navbar .icon {
  width: var(--font-size-lg);
  height: var(--font-size-lg);
  display: block;
}

.navbar span {
  cursor: default;
  display: inline;
}

.navbar a,
.navbar span,
.navbar button {
  font-family: var(--heading-font);
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: var(--font-size-lg);
  width: fit-content;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: var(--border-radius);
  padding-inline: 0.25rem;
  white-space: nowrap;
  text-transform: uppercase;
}

.navbar a:hover,
.navbar span:hover,
.navbar button:hover {
  color: var(--color-text);
  background-color: var(--color-background);
}

.navbar a:focus-visible,
.navbar span:focus-visible,
.navbar button:focus-visible {
  color: var(--color-text);
  background-color: var(--color-background);
  outline: 2px solid var(--color-primary);
}

.navbar .icon svg {
  height: 100%;
}

.navbar .icon svg path {
  fill: var(--fillColor);
}

.navbar .nav-list {
  display: flex;
  gap: 1rem;
  justify-content: center;
  text-transform: uppercase;
  height: 100%;
}

.nav-button {
  padding: 0 0.25rem !important;
}

.user-stuff {
  position: relative;
}

.user-stuff:hover .user-menu,
.user-stuff .user-menu:has(*:focus-visible) {
  opacity: 1;
  pointer-events: all;
}

.user-profile {
  border-radius: 100% !important;
  width: 2.47rem !important;
  height: 2.47rem !important;
  background-color: var(--color-background);
  color: var(--color-text) !important;
  padding: calc(var(--font-size-sm) / 2) !important;
  cursor: default !important;
}

.user-menu {
  position: absolute;
  top: calc(100% + var(--font-size-sm) / 2);
  right: 0;

  background-color: var(--color-background);
  padding: var(--font-size-sm);
  border-radius: var(--border-radius);
  display: grid;
  gap: var(--font-size-sm);
  border: 1px solid var(--color-border);
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.user-menu::before {
  content: "";
  position: absolute;
  bottom: 100%;
  width: 100%;
  height: 1rem;
}

.user-menu > * {
  background-color: transparent !important;
  color: var(--color-text) !important;
  border: 1px solid transparent !important;
  padding: calc(var(--font-size-sm) / 2) !important;
  font-size: var(--font-size-base) !important;
  position: relative;
}

.user-menu > *:hover {
  background-color: var(--color-secondary) !important;
  color: var(--color-background) !important;
  border: 1px solid var(--color-border) !important;
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: min(var(--font-size-sm), 5px) var(--font-size-xl);
  }

  .navbar .site-name {
    width: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  .navbar .dropdown .dropdown-menu li a {
    font-size: var(--font-size-sm);
  }

  .navbar a,
  .navbar button {
    font-size: var(--font-size-sm);
  }

  .navbar .site-logo svg {
    width: 1rem !important;
    height: 1rem !important;
  }

  .user-profile {
    font-size: var(--font-size-lg) !important;
    width: 1.46rem !important;
    height: 1.46rem !important;
  }
}
