.collection {
  background-color: var(--color-background);
  padding: var(--font-size-base);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  gap: var(--font-size-base);
  border: 1px solid var(--color-border);
  margin: var(--font-size-base);
}

.collection-title {
  font-size: var(--font-size-xxl) !important;
}

.collection-header,
.collection-generation-header {
  font-family: var(--heading-font);
  text-transform: uppercase;
  position: relative;
}

.collection-generation-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.collection-subtitle {
  text-align: center;
  width: 100%;
  max-width: 657px;
  margin-inline: auto;
}

.collection-stats,
.collection-generation-count {
  margin-top: calc(var(--font-size-sm) / 2);
  text-align: center;
}

.collection-filters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--font-size-base);
  font-family: var(--heading-font);
}

.collection-filter-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(var(--font-size-sm) / 2);
  cursor: pointer;
}

.collection-filter-item input[type="checkbox"] {
  border-radius: 100%;
  background-color: var(--color-secondary);
  appearance: none;
  width: var(--font-size-base);
  height: var(--font-size-base);
  opacity: 0.5;
  border: 2px solid var(--color-secondary-dark);
  cursor: pointer;
  position: relative;
  display: grid;
  place-items: center;
}

.collection-filter-item input[type="checkbox"]:checked {
  opacity: 1;
}

.collection-filter-item input[type="checkbox"]::after {
  content: url(/assets/icons/check.svg);
  width: 0rem;
  height: 0rem;
  overflow: hidden;
  display: block;
  position: absolute;
  left: 7.25%;
  bottom: 7.25%;
  transition: all 0.3s ease-in-out;
  transform: rotate(-360deg);
}

.collection-filter-item input[type="checkbox"]:checked::after {
  width: 1rem;
  height: 1rem;
  transform: rotate(0deg);
}

.collection-filter-item input[type="checkbox"]:hover {
  opacity: 0.75;
}

.collection-filter-item input[type="checkbox"]:focus-visible {
  opacity: 0.75;
  outline: 2px solid var(--color-primary-dark);
}

.collection-import-export {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--font-size-sm);
}

.import-export-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--font-size-sm);
}

.collection-export-options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--font-size-sm);
  background-color: var(--color-surface);
  padding: var(--font-size-sm);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  box-sizing: border-box;
}

.collection-import-message {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--font-size-sm);
  background-color: var(--color-surface);
  padding: var(--font-size-sm);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  box-sizing: border-box;
  text-align: center;
}

.collection-progress,
.collection-generation-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.collection-progress-bar,
.collection-generation-progress-bar {
  width: 100%;
  height: var(--font-size-base);
  border-radius: var(--border-radius);
  background: var(--color-surface);
  border: 1px solid var(--color-border);
  overflow: hidden;
  margin: calc(var(--font-size-sm) / 2) 0 0;
}

.collection-generation-progress-bar {
  width: 75%;
}

.collection-progress-fill,
.collection-generation-progress-fill {
  height: 100%;
  width: 0;
  background: var(--color-secondary);
  transition: width 0.25s ease-out;
}

.collection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(98px, 1fr));
  gap: var(--font-size-sm);
  margin: var(--font-size-base) 0 0;
  place-items: center;
}

.collection-tile {
  background: white;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  aspect-ratio: 1;
  min-width: 98px;
  position: relative;
}

.collection-tile .collection-tile-number {
  position: absolute;
  width: fit-content;
  height: fit-content;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  padding: calc(var(--font-size-sm) / 2);
  font-family: var(--heading-font);
  font-size: var(--font-size-sm);
}

.collection-tile .collection-tile-sprite {
  position: absolute;
  width: 100%;
  height: 100%;
}

.collection-tile:has(.collection-tile-sprite.owned) {
  background-color: var(--color-secondary-faded);
  border: 1px solid var(--color-text);
}

.collection-tile-sprite.unowned {
  opacity: 0.25;
}

.collection-generation {
  margin-top: 32px;
}

.collection-generation-title {
  font-size: 1.2rem;
  color: var(--color-heading);
  font-weight: 600;
  text-transform: uppercase;
  max-width: 100%;
}
