.page {
  min-height: 100svh;
}

.page::before {
  content: "X";
  color: transparent;
  width: 100%;
  display: block;
  font-size: var(--font-size-lg);
  padding: var(--font-size-sm) var(--font-size-xl);
}

.tablet {
  background-color: var(--color-background);
  padding: var(--font-size-base);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--font-size-sm);
  border: 1px solid var(--color-border);
  margin: var(--font-size-base);
  font-size: var(--font-size-base);
  max-width: 70ch;
}

.tablet h2 {
  text-align: left;
  margin-top: var(--font-size-base);

}

.main {
  display: grid;
  grid-template-columns: 1fr;

  max-width: 100%;
  /* min-height: 100svh; */

  position: relative;
  height: fit-content;
}
