.scanner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--font-size-base);
  background-color: var(--color-background);
  padding: var(--font-size-base);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  margin: var(--font-size-base);
}

.scanner-video-wrapper {
  position: relative;
  border-radius: var(--border-radius);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: var(--font-size-base);
}

.bold {
    font-family: var(--heading-font);
    font-weight: 600;
    white-space: nowrap;
}

.scanner-subtitle {
  width: 100%;
}

.scanner-status {
    text-align: center;
}

.scanner-language p {
    text-align: center;
    width: 100%;
    display: block;
}

.scanner-camera-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scanner-preview {
  width: fit-content;
  overflow: hidden;
  width: 100%;
}

.scanner-preview-image {
  margin-block: var(--font-size-base);
  margin-inline: auto;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
}

.scanner-video {
  display: block;
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}

.scanner-video-overlay--loading {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scanner-frame-mask {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.scanner-frame {
  position: absolute;
  height: 60%;
  aspect-ratio: 2.5 / 3.5;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scanner-video-wrapper .scanner-scan-btn {
  padding: var(--font-size-sm);
  position: absolute;
  bottom: 25%;
  border-radius: 100%;
}

.scanner-scan-btn:disabled {
  animation: loading-spin 100s infinite linear;
}

@keyframes loading-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(36000deg);
  }
}

.scanner-scan-btn svg {
  width: var(--font-size-base);
  height: var(--font-size-base);
}

.scanner-frame-border {
  position: absolute;
  inset: 0;
  border-radius: var(--border-radius);
  outline: 3px solid var(--color-secondary);
  /* outline: 2px solid var(--color-primary);
  outline-offset: 4px; */
}

.scanner-camera:has(.scanner-video-wrapper) .scanner-video-wrapper .scanner-frame-label {
    animation: fade 5s ease-in-out 1s 1 normal forwards;
}

.scanner-frame-label {
  position: absolute;
  /* bottom: calc(-2 * var(--font-size-base)); */
  font-size: var(--font-size-sm);
  padding: calc(var(--font-size-sm) / 2);
  border-radius: var(--border-radius);
  background: var(--color-heading);
  color: var(--color-background);
  white-space: nowrap;
}

@keyframes fade {
    0%, 75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.scanner-confirm-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--font-size-base);
    margin-top: var(--font-size-sm);
}

.scanner-confirm-actions button {
    padding: var(--font-size-sm) var(--font-size-base);
}


.scanner-confirm-name, .scanner-confirm-lang {
    text-align: center;
}

.scanner-confirm-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.scanner-confirm-lang .bold {
    margin-left: 0.5ch;
}

.scanner-placement {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.scanner-ocr-debug {
    display: none;
}